@model mvctk.Models.user
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Student</title>
    <style>
        div {
            border-bottom: solid;
            border-bottom-color: black;
        }

        input[type=submit] {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        }
    </style>
</head>
<body>
    <div>
        <tr>
            <td>
                <center> <h1>Welcome  @Html.DisplayFor(x => x.FirstName) @Html.DisplayFor(x => x.LastName) </h1></center>
            </td>
        </tr>
    </div>
    <center>

        <div style="background-color:lightgreen">
            <tr>
                <br />
                <br />
                <br />
                <br />

                @using (Html.BeginForm("Schedule", "Lecturer", FormMethod.Post))
                {
                    <input type="submit" value="Class Schedule" />
                    <br />
                    <br />
                    <br />
                    <br />
                }
                @using (Html.BeginForm("ExamSchedule", "Lecturer", FormMethod.Post))
                {

                    <input type="submit" value="Exams Schedule" />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                }
                @using (Html.BeginForm("ShowStudents", "Lecturer", FormMethod.Post))
                {

                    <input type="submit" value="Show Students In Course" />
                    <br />
                    <br />
                    <br />
                    <br />
                   
                }
                @using (Html.BeginForm("Show", "Lecturer", FormMethod.Post))
                {

                    <input type="submit" value="Show Student grades" />
                    <br />
                    <br />
                    <br />
                    <br />
                 
                }


</center>
    </div>
</body>
</html>
