@model mvctk.Models.user
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lecturer</title>
</head>
<body>
    <div>
        <tr>
            <td>
                <center> <h1>Welcome  @Html.DisplayFor(x => x.FirstName) @Html.DisplayFor(x => x.LastName) </h1></center>
            </td>
        </tr>

        <center>
            <table>
                <tr></tr>
                <tr></tr>
                <tr></tr>
                <tr>
                    <td>
                        <i>        Schedule: </i> @Html.ActionLink("Schedule", "Schedule")
                    </td>
                    <br />
                    <td>
                        <i>       Exams Schedule: </i> @Html.ActionLink("ExamSchedule", "ExamSchedule")
                    </td>
                </tr>
            </table>
        </center>
    </div>
</body>
</html>
