@model IEnumerable<mvctk.Models.grade>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>update</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
